extends layout

block content
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Clientes</a></li>
            <li class="breadcrumb-item text-truncate w-75 active" aria-current="page" id='breadcrumbClientName'></li>
        </ol>
    </nav>
    script(src="/js/clients-script.js")
    
