extends layout

block content
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Clientes</a></li>
            <li class="breadcrumb-item text-truncate w-75 active" aria-current="page" id='breadcrumbClientName'></li>
        </ol>
    </nav>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">First</th>
                    <th scope="col">Preço</th>
                </tr>
            </thead>
            tbody.w-100#noteBody
        </table>
    </div>

    script(src="/js/clients-script.js")
    
